:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: auto;
  min-height: 100vh;
  padding: 10px 150px;
  background-color: #f9fafc;
  overflow-x: hidden;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 850px) {
  body {
    padding: 10px;
  }
}
