.card {
  width: 270px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  background-color: #fff;
  border: 2px dashed #e2e2e2;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin-bottom: 5px;
}
.card img {
  width: 230px;
  height: 230px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  object-fit: contain;
}
.card h3 {
  color: #fe5d42;
  font-size: 1rem;
  white-space: nowrap;
}
.card p {
  color: #666;
  font-size: 0.9rem;
  font-weight: 600;
  margin: 10px 0 30px;
}
.actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.actions a {
  font-size: 1.5rem;
  height: 25px;
  color: #fe5d42;
  cursor: pointer;
}

.actions div {
  display: flex;
  align-items: center;
}

.actions div span {
  width: 20px;
  text-align: center;
  margin: 0 10px;
}

.actions div button {
  background-color: #fe5d42;
  color: #fff;
  border: none;
  font-size: 1.7rem;
  width: 32px;
  height: 32px;
  line-height: 32px;
  padding: 2px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  cursor: pointer;
}
.badge {
  color: #fe5d42;
  font-size: 18px;
  font-weight: bold;
}
@media screen and (max-width: 850px) {
  .badge {
    font-size: 16px;
  }
}
@media screen and (max-width: 566px) {
  .card {
    width: calc(100% / 2);
    height: 320px;
  }
  .card img {
    width: 150px;
    height: 150px;
    padding-left: 0;
    margin: auto;
    object-fit: contain;
  }
  .card h3 {
    font-size: 0.8rem;
  }
  .actions div button {
    font-size: 1rem;
    width: 25px;
    height: 25px;
    line-height: 25px;
  }
}
@media screen and (max-width: 394px) {
  .card {
    width: calc(100% / 2.09);
    height: 265px;
  }
  .card img {
    width: 133px;
    height: 133px;
    padding-left: 0;
    object-fit: contain;
  }
  .card h3 {
    font-size: 0.7rem;
  }
  .card p {
    font-size: 13px;
  }
}
